alembic==1.7.7
amqp==5.1.1
anyio==3.5.0
apache-airflow==2.2.5
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-sqlite==2.1.3
apache-airflow-upgrade-check==1.4.0
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.3
astroid==2.11.2
attrs==20.3.0
Babel==2.10.1
billiard==3.6.4.0
black==22.3.0
blinker==1.4
boto3==1.22.2
botocore==1.25.2
braintree==4.15.2
cachelib==0.6.0
cachetools==5.0.0
cattrs==1.10.0
celery==5.1.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
confluent-kafka==1.4.2
connexion==2.13.1
croniter==1.3.4
cryptography==37.0.1
defusedxml==0.7.1
Deprecated==1.2.13
diff-cover==6.5.0
dill==0.3.4
distlib==0.3.4
dnspython==2.2.1
docutils==0.16
email-validator==1.2.0
filelock==3.6.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flower==1.0.0
future==0.18.2
google-ads==15.0.0
google-api-core==2.7.1
google-api-python-client==2.49.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-cloud==0.34.0
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.55.1b1
graphviz==0.20
grpcio==1.44.0
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httplib2==0.20.4
httpx==0.22.0
humanize==4.0.0
idna==3.3
importlib-metadata==4.11.3
inflection==0.5.1
iniconfig==1.1.1
iso8601==1.0.2
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==1.0.0
jsonschema==3.2.0
kombu==5.2.4
lazy-object-proxy==1.7.1
lockfile==0.12.2
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.7.0
mypy-extensions==0.4.3
nox==2022.1.7
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.1
pathspec==0.9.0
pendulum==2.1.2
Pillow==9.0.1
platformdirs==2.5.1
pluggy==1.0.0
prison==0.2.1
prometheus-client==0.14.1
prompt-toolkit==3.0.29
proto-plus==1.18.1
protobuf==3.17.3
psutil==5.9.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
PyJWT==1.7.1
pylint==2.13.4
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.2
python-daemon==2.3.0
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2021.3
pytzdata==2020.1
PyYAML==5.4.1
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.3.0
rsa==4.8
s3transfer==0.5.2
setproctitle==1.2.3
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlfluff==0.13.0
stripe==3.0.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
tkintertable==1.3.3
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
typing_extensions==4.1.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.8
vine==5.0.0
virtualenv==20.13.2
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.14.0
WTForms==2.3.3
zipp==3.8.0
